<h1>Editing categoriy</h1>

<%= render "form", categoriy: @categoriy %>

<br>

<div>
  <%= link_to "Show this categoriy", @categoriy %> |
  <%= link_to "Back to categoriys", categoriys_path %>
</div>
 