<h1>Editing categoryer</h1>

<%= render "form", categoryer: @categoryer %>

<br>

<div>
  <%= link_to "Show this categoryer", @categoryer %> |
  <%= link_to "Back to categoryers", categoryers_path %>
</div>
 